* {
    margin: 0;
    padding: 0;
}
h1, a, p {
    color: #fff;
}
h1{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 800;
}
ul{
    list-style:none;
}
a {
    text-decoration:none;
}
body{
    font-family:"Arial";
}
header{
    padding: 19px 0;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}
.items_center{
    
    align-items: center;
}


.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.main_container {
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.navigation {
    padding: 0 56px;
    width: 100%;
    background-color: rgba(172, 172, 170, 0.3);
    max-width: 430px;
    border-radius: 20px;
}
.menu a{
    font-size: 14px;
    padding: 15px 0;
    line-height: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Arial";
}
.contacts{
    font-size: 16px;
    
}
.main{
    position: relative;
    padding: 130px 0;
}
.contacts a{
    gap: 9px;
}
.main_text h1{
    min-width: 692px;
}
.slogon{
    font-size: 30px;
    padding-bottom: 25px;
}
.cta{
    display: inline-block;
    padding: 22px 42px;
    font-size: 18px;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-radius: 35px;
    background-color: transparent;
    border: 3px solid #f4d633;

}
.rating_container{
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;

}
.ball_container{
    position: absolute;
    right: 0;
    bottom: -10px;
}
.botom_container {
    background-color: #f4d633;
}
.botom{
    padding: 20px 100px;
}
.graphick p{
    font-size: 16px;
    line-height: 14px;
    color: #1e3c6f;
    font-weight: bold;
    font-family: "Arial";
}