* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 0.8px;
}
h1, a, p {
    color: #fff;
}
h1{
    max-width: 692rem;
    font-size: 48rem;
    text-transform: uppercase;
    font-weight: 800;
}
ul{
    list-style:none;
}
a {
    text-decoration:none;
}
body{
    font-family:"Arial";
}
header{
    padding: 19rem 0;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}
.items_center{
    
    align-items: center;
}
.main_text igi{
    font-size: 16rem;
    color: #ffffff;
    font-style: italic;
    font-family: "Arial";
}

.wrapper{
    max-width: 1000rem;
    margin: 0 auto;
}
.head{
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}
.main_container {
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.navigation {
    padding: 0 56rem;
    background-color: rgba(172, 172, 170, 0.3);
    border-radius: 20rem;
    z-index: 10;
}
.black1{
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 16, 40, 0.8);
    backdrop-filter: blur(5px);
    z-index: 6;
}
.menu {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: #030848;
    padding: 50px 20px;
    flex-direction: column;
    z-index: 100;
    transition: left 0.3s ease;
    gap: 13px;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
}
.burger{
    z-index: 7;
    display: block;
}
.menu li{
    padding: 10px 15px;
}
.menu a{
    font-size: 14rem;
    padding: 15rem 0;
    line-height: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Arial";
}
.contacts{
    font-size: 16rem;
    z-index: 5;
    
}
.main_text i{
    font-size: 16px;
    color: #ffffff;
    font-style: italic;
    font-family: "Arial";
}
.main{
    
    position: relative;
    padding: 130rem 0;
}
.contacts a{
    display: none;
    gap: 9rem;
}
.logo{
    z-index: 10;
}
.section{
    display: flex;
    justify-content: center;
    
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 0 15px;
}
.slogon{
    font-size: 30rem;
    padding-bottom: 25rem;
}
.cta{
    display: inline-block;
    padding: 22rem 42rem;
    font-size: 18rem;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-radius: 35rem;
    background-color: transparent;
    border: 3rem solid #f4d633;

}
.rating_container{
    font-size: 20rem;
    font-weight: bold;
    padding-top: 30rem;

}
.ball_container{
    display: block;
    position: absolute;
    right: 0;
    bottom: -10rem;


}
.ball_container img{
    filter: blur(5px) brightness(0.5);
}
.botom_container {

    background-color: #f4d633;
}
.botom {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 20rem 100rem;
    justify-content: center;
}
.graphick p{
    font-size: 16rem;
    line-height: 14rem;
    color: #1e3c6f;
    font-weight: bold;
    font-family: "Arial";
}
@media screen and (max-width: 450px){
    .main_text p , i ,a{
        font-size: 10px;
    }
    .main_text h1{
        font-size: 20px;
    }
}
@media screen and (min-width: 510px){
    .botom{
        justify-content: space-between;
    }
 
}
@media screen and (min-width: 650px) {
    .menu {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;

        padding: 0;
        left:0;
    }
    .contacts a {
        display: flex; 
        gap: 9rem;    
        align-items: center; 
    }
    .burger {
        display: none;
    }
    .close{
        display: none;
    }
    .contacts1{
        display:none;
        overflow: hidden;
    }
}
@media screen and (min-width: 1000px) {
    .section{
        padding: 0;
        display: block;
    }
}
@media screen and (min-width: 1300px) {
    .ball_container img{
        filter: none;
    }
}
@media screen and (min-width: 1024px) {

    html{
        font-size: 1px;
        
    }
    
}
@media screen and (min-width: 1440px) {
    html{
        font-size: 1.1px;

    }
    
}
@media screen and (min-width: 1920px) {
    html{
        font-size: 1.3px;

    }
    
}
@media screen and (min-width: 2200px) {
    html{
        font-size: 1.5px;

    }
    
}