* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 0.8px;
}
h1, a, p {
    color: #fff;
}
h1{
    max-width: 692rem;
    font-size: 48rem;
    text-transform: uppercase;
    font-weight: 800;
}
ul{
    list-style:none;
}
a {
    text-decoration:none;
}
body{
    font-family:"Arial";
}
header{
    padding: 19rem 0;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}
.items_center{
    
    align-items: center;
}
.main_text igi{
    font-size: 16rem;
    color: #ffffff;
    font-style: italic;
    font-family: "Arial";
}

.wrapper{
    max-width: 1000rem;
    margin: 0 auto;
}
.main_container {
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.navigation {
    padding: 0 56rem;
    width: 100%;
    background-color: rgba(172, 172, 170, 0.3);
    border-radius: 20rem;
    z-index: 10;
}
.black1{
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 16, 40, 0.8);
    backdrop-filter: blur(5px);
    z-index: 6;
}
.menu{
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80vw;
    height: 100vh;
    background-color:  rgba(3, 8, 72, 1)    ;
    padding: 30px 0;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
}
.burger{
    display: block;
}
.menu li{
    padding: 10px 15px;
}
.menu a{
    font-size: 14rem;
    padding: 15rem 0;
    line-height: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Arial";
}
.contacts{
    font-size: 16rem;
    z-index: 5;
    
}
.main_text i{
    font-size: 16px;
    color: #ffffff;
    font-style: italic;
    font-family: "Arial";
}
.main{
    
    position: relative;
    padding: 130rem 0;
}
.contacts a{
    display: none;
    gap: 9rem;
}
.section{
    display: flex;
    justify-content: center;
    
    position: relative;
    width: 100%;
    z-index: 2;
}
.slogon{
    font-size: 30rem;
    padding-bottom: 25rem;
}
.cta{
    display: inline-block;
    padding: 22rem 42rem;
    font-size: 18rem;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-radius: 35rem;
    background-color: transparent;
    border: 3rem solid #f4d633;

}
.rating_container{
    font-size: 20rem;
    font-weight: bold;
    padding-top: 30rem;

}
.ball_container{
    display: none;
    position: absolute;
    right: 0;
    bottom: -10rem;
}
.botom_container {

    background-color: #f4d633;
}
.botom{
    display: flex;
    flex-wrap: wrap;
    padding: 20rem 100rem;
}
.graphick p{
    font-size: 16rem;
    line-height: 14rem;
    color: #1e3c6f;
    font-weight: bold;
    font-family: "Arial";
}
@media screen and (max-width: 450px){
    .main_text p , i ,a{
        font-size: 10px;
    }
    .main_text h1{
        font-size: 20px;
    }
}
@media screen and (min-width: 650px) {


    .menu {
        display: flex ;
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        gap: 20rem;
        align-items: center;
    }

    .menu li {
        padding: 0;
    }
}
@media screen and (min-width: 1000px) {
    .ball_container{
        display: block;
    }
    .section{
        display: block;
    }
}