* {
    margin: 0;
    padding: 0;
}
h1, a, p {
    color: #fff;
}
h1{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 800;
}
a {
    text-decoration:none;
}
body{
    font-family:"Arial";
}
.main_container {
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.navigation {
    background-color: rgba(172, 172, 170, 0.3);
}

.menu a{
    font-size: 14px;
    line-height: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Arial";
}
.contacts{
    font-size: 16px;
    line-height: 3.1em;
}
.slogon{
    font-size: 30px;
}
.cta{
    font-size: 18px;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-radius: 35px;
    background-color: transparent;
    border: 3px solid #f4d633;

}
.rating_container{
    font-size: 20px;
    font-weight: bold;

}
.botom_container {
    background-color: #f4d633;
}
.graphick p{
    font-size: 16px;
    line-height: 14px;
    color: #1e3c6f;
    font-weight: bold;
    font-family: "Arial";
}